CONFIG_IDF_TARGET="esp32s31"
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_COMPILER_OPTIMIZATION_PERF=y
CONFIG_ESP_CAM_IO_PARL_PAYLOAD_SIZE=16384
CONFIG_ESP_CAM_IO_PARL_SCCB_I2C_PORT1=y
CONFIG_ESP_CAM_IO_PARL_SCCB_I2C_PORT0=n
CONFIG_ESP_CAM_IO_PARL_OV2640=y
CONFIG_ESP_CAM_IO_PARL_OV3660=y
CONFIG_ESP_CAM_IO_PARL_OV5640=n
CONFIG_ESP_CAM_IO_PARL_NT99141=n
CONFIG_ESP_CAM_IO_PARL_FRAME_SIZE_AUTO=y
CONFIG_ESP_CAM_IO_PARL_FRAME_SIZE_MUL=1
CONFIG_ESP_CAM_IO_PARL_FRAME_SIZE_DIV=2
CONFIG_ESP_CAM_IO_PARL_FRAME_SIZE_PADDING=8192
