menu "Parallel IO Camera configuration"

    config ESP_CAM_IO_PARL_NT99141
        bool "Support NT99141 HD"
        depends on SOC_PARLIO_RX_UNIT_MAX_DATA_WIDTH > 8
        default y
        help
            Enable this option if you want to use the NT99141.
            Disable this option to save memory.

    config ESP_CAM_IO_PARL_OV2640
        bool "Support OV2640 2MP"
        depends on SOC_PARLIO_RX_UNIT_MAX_DATA_WIDTH > 8
        default y
        help
            Enable this option if you want to use the OV2640.
            Disable this option to save memory.

    menuconfig ESP_CAM_IO_PARL_OV3660
        bool "Support OV3660 3MP"
        default y
        help
            Enable this option if you want to use the OV3660.
            Disable this option to save memory.

    if ESP_CAM_IO_PARL_OV3660
        choice ESP_CAM_IO_PARL_OV3660_HPM
            bool "High Performance Mode (24MHz XCLK recommended)"
            default ESP_CAM_IO_PARL_OV3660_HPM_DIS
            help
                Whether the High Performance Mode of OV3660 is enabled.
                Enabling this option allows high frame rate captures by modifying the PLL registers.
                For example, this option allows 30fps at 1920x1080 and 20fps at maximum resolution (JPEG format).
                User can set this mode at any resolution, or resolutions above 1024x768.
                If disabled, default OV3660 settings will be used instead.

            config ESP_CAM_IO_PARL_OV3660_HPM_ANY_RES
                bool "Any resolution"
            config ESP_CAM_IO_PARL_OV3660_HPM_HIGH_RES
                bool "Resolutions above 1024x768"
            config ESP_CAM_IO_PARL_OV3660_HPM_DIS
                bool "Disabled"
        endchoice
    endif

    menuconfig ESP_CAM_IO_PARL_OV5640
        bool "Support OV5640 5MP"
        default y
        help
            Enable this option if you want to use the OV5640.
            Disable this option to save memory.

    if ESP_CAM_IO_PARL_OV5640
        config ESP_CAM_IO_PARL_OV5640_AF
            bool "Enable autofocus on sensor initialization"
            depends on ESP_CAM_IO_PARL_AF_SUPPORT
            default y
            help
                If this option is enabled, then there will be no need to use esp_cam_io_parl_af API functions to initialize the autofocus on OV5640.
                But do note that this will only call the auto mode.

        choice ESP_CAM_IO_PARL_OV5640_HPM
            bool "High Performance Mode (24MHz XCLK recommended)"
            default ESP_CAM_IO_PARL_OV5640_HPM_DIS
            help
                Whether the High Performance Mode of OV5640 is enabled.
                Enabling this option allows high frame rate captures by modifying the PLL registers.
                For example, this option allows 20fps at 2560x1440 and 15fps at maximum resolution (JPEG format).
                User can set this mode at any resolution, or resolutions above 1280x960.
                If disabled, default OV5640 settings will be used instead.

            config ESP_CAM_IO_PARL_OV5640_HPM_ANY_RES
                bool "Any resolution"
            config ESP_CAM_IO_PARL_OV5640_HPM_HIGH_RES
                bool "Resolutions above 1280x960"
            config ESP_CAM_IO_PARL_OV5640_HPM_DIS
                bool "Disabled"
        endchoice
    endif

    menuconfig ESP_CAM_IO_PARL_AF_SUPPORT
        bool "Enable autofocus for supported camera sensors"
        help
            Enable autofocus support for camera sensors (currently only OV5640 has autofocus) via the esp_cam_io_parl_af API.
            If disabled, the AF API will return ESP_ERR_NOT_SUPPORTED.

    if ESP_CAM_IO_PARL_AF_SUPPORT
        config ESP_CAM_IO_PARL_AF_DEFAULT_TIMEOUT_MS
            int "Autofocus default timeout (ms)"
            range 100 20000
            default 2000
            help
                Default timeout used for autofocus operations (firmware load, trigger/wait).
    endif

    menuconfig ESP_CAM_IO_PARL_FRAME_SIZE_AUTO
        bool "Automatically set frame buffer size on resolution change"
        default y
        help
            Enable this option if you want to automatically set the frame allocation size without setting it manually.
            For RAW image format, the frame buffer size is simply (width * height * bpp) where bpp is bytes per pixel and it depends on the raw image format used. For example, RGB565 has bpp set to 2 indicating two bytes per pixel.
            For JPEG image format, user can determine the JPEG buffer size dynamically (bytes) with the formula (width * height * multiplier / divider + padding)

    if ESP_CAM_IO_PARL_FRAME_SIZE_AUTO
        comment "For JPEG format, the size is calculated by the formula: (width * height * multiplier / divider + padding)"

        config ESP_CAM_IO_PARL_FRAME_SIZE_MUL
            int "JPEG frame buffer multiplier"
            range 0 100
            default 4
            help
                Determines the multiplier of the frame buffer size, this can be used to achieve precise value if paired with the divider.

        config ESP_CAM_IO_PARL_FRAME_SIZE_DIV
            int "JPEG frame buffer divider"
            range 1 100
            default 15
            help
                Determines the divider of the frame buffer size, this can be used to achieve precise value if paired with the multiplier.

        config ESP_CAM_IO_PARL_FRAME_SIZE_PADDING
            int "JPEG frame buffer padding (bytes)"
            range 0 2519424
            default 3072
            help
                After the resulting value by the multiplier/divider, the padding bytes can reduce the JPEG buffer overflow warning on lower JPEG resolutions.
                If multiplier is set to 0, the resulting frame buffer size will be equal to the padding value.

        config ESP_CAM_IO_PARL_FRAME_SIZE_ENABLE_LIMIT
            bool "Enable JPEG frame buffer size limit"
            help
                If the user still requires adaptive frame buffer size within the buffer size limit, enable this option.
                This will cap the frame buffer size if it exceeds the frame buffer size limit.

        config ESP_CAM_IO_PARL_FRAME_SIZE_LIMIT
            int "JPEG frame buffer limit (bytes)"
            depends on ESP_CAM_IO_PARL_FRAME_SIZE_ENABLE_LIMIT
            range 4096 2519424
            default 2519424
            help
                If the calculated JPEG buffer size exceeds this value, then it will be capped.
    endif

    choice ESP_CAM_IO_PARL_SCCB_I2C_PORT
        bool "I2C peripheral to use for SCCB"
        default ESP_CAM_IO_PARL_SCCB_I2C_PORT0
        help
            Choose what I2C port to be used for SCCB. LP I2C is also supported, refer to the datasheet for each SoC LP I2C pins.

        config ESP_CAM_IO_PARL_SCCB_I2C_PORT0
            bool "I2C0"
        config ESP_CAM_IO_PARL_SCCB_I2C_PORT1
            bool "I2C1"
            depends on SOC_HP_I2C_NUM > 1
        config ESP_CAM_IO_PARL_SCCB_LP_I2C_PORT0
            bool "LP I2C0"
            depends on SOC_LP_I2C_SUPPORTED
    endchoice

    config ESP_CAM_IO_PARL_SCCB_CLK_FREQ
        int "SCCB clock frequency"
        default 100000
        range 100000 400000
        help
            Increasing this value can reduce the initialization time of the sensor.
            Please refer to the relevant instructions of the sensor to adjust the value.

    config ESP_CAM_IO_PARL_PAYLOAD_SIZE
        int "DMA buffer size"
        range 2048 65535
        default 32768
        help
            Maximum value of DMA payload buffer
            Larger values may fail to allocate due to insufficient contiguous memory blocks, and smaller value may cause DMA interrupt to be too frequent.
endmenu
